# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# macOS
.DS_Store

# VS Code
.vscode/

# PyCharm
.idea/

# Testing
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Local environment
.env
